html
  head
    title= title
  body
    h1= title
    for ds in Object.keys(data)
      h2=`${ds}`
      ul
          for name in Object.keys(data[ds]).sort()
            li=`${name}: ${data[ds][name]}`
    p !{new Date()}